* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;    /* todo: Отдельные размеры для заголовков. */
}

.base-table {
    border-collapse: collapse;
    border: 1px solid #a1a1a1;
}

.base-table th {
    text-align: left;
}

.base-table td,
.base-table th {
    border: 1px solid #a1a1a1;
    padding: 4px 8px;
}

/* dev */
/*.dev_block {*/
/*    padding-bottom: 15px;*/
/*}*/